    
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 500;
    color: #212121;
    background-color: #FFFFFF;
    
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
    }

    address {
        font-style: normal;
    }

:root {
    --main-text-color: #212121;
    --accent-color: #2196F3;
    --title-color: #212121;
    --dark-bg-color: #2F303A;
    --second-bg-color: #E5E5E5;
    --mailto-color:#757575;
    --text-button:#FFFFFF;
    --bg-button:#2196F3;
    --page-portfolio:#757575;
    --page-title-portfolio:#212121;
    --mailto-footer:rgba(255, 255, 255, 0.6);
    --tel-footer:rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
    --icon-footer-color:#FFFFFF;
    --animation: 300ms ease-in;

    }

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

.link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: color var(--animation);
    }

.link.current{
    color: var(--accent-color)   
}

.link:hover,
.link:focus
{
    color: var(--accent-color);
}

.link .mailto-footer:hover{
    color: var(--accent-color);
}
.link .mailto-footer:focus{
    color: var(--accent-color);
}

.link .logo:hover{
    color: var(--accent-color);
}
.link .logo:focus{
    color: var(--accent-color);
}

.link .logo-footer:hover{
    color: var(--accent-color);
}
.link .logo-footer:focus{
    color: var(--accent-color);
}

.mailto-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--mailto-footer);
    transition:  color var(--animation);
}


.container-link {
    display: flex;
    transition: color var(--animation);
}
.link-mailto {
    /*margin-right: 50px;*/
    display: flex;
    margin-right: 30px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--mailto-color);
    transition: color var(--animation);
}

.link-mailto:hover .icon-letter,
.link-mailto:focus .icon-letter {
    fill: var(--accent-color); 
}

.link-tel:hover .icon-smartfone,
.link-tel:focus .icon-smartfone {
    fill: var(--accent-color); 
}


.list-link {
    margin-right: 50px;
    align-items: center;
    transition: color var(--animation);
}

.link-tel {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--mailto-color);
    transition: color var(--animation);
}

.tel-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--mailto-footer);
    transition: color var(--animation);
}

.list,
.list-command {
    list-style: none;    
  }

  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;       
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;
    transition: color var(--animation), background-color var(--animation);     
}

.button-portfolio {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    transition: color var(--animation), background-color var(--animation);
}

.button-portfolio:hover {
    color: var(--text-button);
    background-color: var(--bg-button);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio:focus {
    color: var(--text-button);
    background-color: var(--bg-button);
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;       
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: #FFFFFF;
}


.socials-list {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--title-color);
  }
  
  .social-icons .icon {
      width: 20px;
      height: 20px;
      transition: fill var(--animation);
  }

  .social-icons-footer .icon-footer {
    width: 20px;    
    height: 20px;
    transition: fill var(--animation);
}

  .social-icons {
      display: flex;
      justify-content: center;
      transition: fill var(--animation);
      
  }

  .social-icons-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    transition: fill var(--animation);
}

  .social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: fill var(--animation);
  }

  .social-icons-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    transition: fill var(--animation);
  }

  .social-icons-link-footer:hover {
     color: var(--accent-color); 
  }

  

  .social-icons-item + .social-icons-item {
      margin-left: 10px;
  }

  .icon,
  .client-icon {
      fill: var(--icon-color);    
  }

  .icon-footer {
    fill: var(--icon-footer-color);
    transition: fill var(--animation);
  }

  .list-command a {
      color:#fff;
  }

  .social-icons-link:hover,
  .social-icons-link:focus {
      background-color: var(--accent-color);
  }

  .social-icons-link:hover .icon,
  .social-icons-link:focus .icon {
      fill: currentColor;
  }

  .social-icons-link-footer:hover,
  .social-icons-link-footer:focus {
    background-color: var(--accent-color);
  }

  .letter-link:hover .icon-letter,
  .letter-link:focus .icon-letter {
      fill: var(--accent-color)
  }

  .smartfone-link:hover .icon-smartfone,
  .smartfone-link:focus .icon-smartfone {
      fill: var(--accent-color)
  }

  .letter-link {
   
    margin-right: 10px;  
    width: 16px;
    height: 16px;
  } 

  .smartfone-link {
    margin-right: 10px;  
    width: 16px;
    height: 16px; 
  }
  

  .letter {
    display: flex;
    align-items: center;
  }

  .social-icons-link:hover .icon-smartfone,
  .social-icons-link:focus .icon-smartfone {
      fill: var(--accent-color)
  }

  .clients {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
  }

  .client-item + .client-item {
      margin-left: 30px;
  }

  .client-icon-link:hover,
  .client-icon-link:focus {
    border: 1px solid var(--accent-color);  
  }  

  .client-icon-link:hover .client-icon,
  .client-icon-link:focus .client-icon {
    fill: var(--accent-color);    
  }
  
  .client-icon {
   display: flex;
    max-height: 45px;
  }


  .client-icon-link {
    display: flex;
    align-items: center;  
    width: 170px;
    padding-top: 22px;
    padding-bottom: 22px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .clients-block {
      padding-top: 94px;
      padding-bottom: 94px;
  }



  .logo,
  .logo-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19px;       
    letter-spacing: 0.03em;
    
  }

  .logo {
    margin-right: 93px;
    color: var(--main-text-color);
  }

  .logo-footer {    
    color: var( --text-button);
  }

  .logo-web {
    color: var(--accent-color);
}

.hero {    
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/Img\(9\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-section {
    background-color: #2F303A;

}


.title-hero {
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
     
}

.button-hero {
    padding: 10px 32px 10px 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;   
    border-radius: 4px;
    cursor: pointer;
    min-width: 200px;
    border: none;
        
    }

    .list-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

    .page-list-title {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .page-title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        min-width: 380px;
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #212121;
    }

    .title-list-command {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;        
        letter-spacing: 0.03em;
        color: #212121;
    }

    .title-list-blok {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }

    .page-list-command {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .footer {
        background-color: #2F303A;
        
        }

    .page-adress {
        margin-bottom: 9px;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;        
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    .link .link-mailto {      
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;        
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    .link .tel-footer {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;      
        letter-spacing: 0.03em;
        color: var(--link-mailto-footer);
    }

    .page-title-portfolio {
        font-weight: bold;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        color: var(--page-title-portfolio);
    }

    .page-portfolio {        
        font-size: 16px;
        line-height: 1.87;        
        letter-spacing: 0.03em;
        color: var(--page-portfolio);
    }

    .page-header {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        /*padding-top: 24px;
        padding-bottom: 25px;*/
        background-color: #FFFFFF;
        border-bottom: 1px solid #ECECEC;
               
    }

    .container {
        display: flex;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        
                    
    }

    .navigation {
        display: flex;
        align-items: center;
        margin-right: 305px;
        
    }

    .container-list {
        display: flex;
        margin-left: auto;
        align-items: center;
                
    }

    .logo {
        align-items: center; 
    }

   
    .container-item {
        margin-right: 50px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    

    .container-item:last-child {
        margin-right: 0;
    }

    .list-mark {
        display: flex;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .mark-item {
        width: 270px;        
    }

    .mark-item::before{
        content: "";
        display: block;
        height: 120px;        
        background-repeat: no-repeat;
        background-size: 70px 70px;
        background-position: center;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    .mark-item:nth-child(1)::before {        
        background-image: url(../images/studio/mark-items/antenna\ 1.svg);
    }

    .mark-item:nth-child(2)::before {
        background-image: url(../images/studio/mark-items/clock\ 1.svg);
    }

    .mark-item:nth-child(3)::before {
        background-image: url(../images/studio/mark-items/diagram\ 1.svg);
    }

    .mark-item:nth-child(4)::before {
        background-image: url(../images/studio/mark-items/astronaut\ 1.svg);
    }

    .list-mark .mark-item +.mark-item {
        margin-left: 30px;
    }

    

    .list-work {
        display: flex;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .work-item {
        width: 370px;
    }

    .list-work .work-item +.work-item {
        margin-left: 30px;
    }

    .container-mark-work {
        padding-top: 94px;
        padding-bottom: 94px;
        
    }

    .container-teem {
        padding-top: 94px;
        padding-bottom: 94px;
        background-color: #F5F4FA;
    }

    .list-command {
        display: flex;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .command-item {
        width: 270px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .list-command .command-item +.command-item {
        margin-left: 30px;
    }

    .title-list-command,
    .page-list-command {
        text-align: center;
    }

    .page-list-command {
        margin-top: 10px;
        margin-bottom: 16px;
    }

    .container-footer {
        margin-right: 70px;
        
         }

    .link-footer.link {
        margin-bottom: 20px;
    }

    .adress-nav {
        margin-top: 20px;
    }
    address.link-mailto {
        font-style: normal;        
    }    

    .blok {
        display: block;
        margin-top: 9px;
    }

    .footer {
        display: flex;
        justify-content: center;       
        
    }

    .footer-blok {
        display: flex;
        width: 1200px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .page-footer {
        padding-bottom: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .letter {
        display: flex;
        align-items: center;
    }

    .smartfone {
        display: flex;
        align-items: center;
    }

    .icon-letter {
        margin-right: 10px;
        width: 16px;
        height: 16px;
    }

    .icon-smartfone {
        margin-right: 10px;
        width: 16px;
        height: 16px;
    }
    
    /*Портфолио*/

    
    .filter-section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .filter-list {
        display: flex; 
        justify-content: center;
             
    }

    .container-button {
        margin-bottom: 50px;
    }

    .filter-list .filter-item + .filter-item {
        margin-left: 8px;      
    }

    img {
        max-width: 100%;
        display: block;
        height: auto;
    }
    

    .cards-list {
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;       
        
    }

    .cards-item {
        width: 370px;
        margin-right: 30px;
        border: 1px solid #EEEEEE;
        margin-bottom: 30px;
    }

    .cards-item:nth-child(3n) {
        margin-right: 0;
    }

    .cards-item:hover,
    .cards-item:focus
    {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    .page-title-portfolio,
    .page-portfolio {
        width: 322px;
        
    }

    .page-title-portfolio {
     margin-bottom: 4px;
    }
    

    .portfolio-blok {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
          
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e5e5e56e;;
    }

    .backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 450px;
        min-height: 450px;
        padding: 40px 30px;
        background-color: #fff;
        border-radius: 30px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    .btn-close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .modal-title {

    }
   
    





  